<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영화 목록</title>
    <style>
        body{background-color: rgb(143, 140, 139);}
        #wrap{width:100%;margin:auto;background-color: antiquewhite;padding-top: 1rem;}
        #wrap h2{text-align: center;}
        .poster{width:20%;margin:auto;margin-bottom: 5rem;}        
        .poster a img{width:100%;height: auto;margin-top: 1rem;}
    </style>
</head>
<body>
    <div id="wrap">
        <div>
            <h2>영화 무료 관람 예약<small>(영화사 이벤트 2022.07.08 한정)</small></h2>
            <div style="display: flex;">
                <% for(let i=0; i<movies.length;i++) { %>
                    <div class="poster">
                        <label><%= movies[i].name %></label>
                        <a href="/seat?code=<%= movies[i].id %>">
                            <img src = "<%=movies[i].img %> "> 
                        </a>
                    </div>
                <%}%>
            </div>          
        </div>
    </div>
</body>
</html>