<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .select input#password{display: none;}
        .select input#private:checked~input#password {
            display: inline;
        }
    </style>
</head>
<body>
    <%- include("../common/top.ejs") %>
    <div id="wrap">
        <form action="/chats/open" method="post">
            <div>
                <label>주제</label><input type="text" name="title">
            </div>
            <div class="select">
                <input id="public" type="radio" name="type" value="public" checked><label for="public">공개</label>
                <input id="private" type="radio" name="type" value="private"><label for="private">비공개</label>
                <input id="password" type="text" name="password" >
            </div>
            <div>
                <button type="submit">개설</button>
            </div>
        </form>
    </div>
    <script>       
    </script>
</body>
</html>