<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>방만들기</title>
    <style>
        #wrap{
            width: 90%;
            margin: auto;
        }
        form div{text-align: center;font-size: 1rem; width: 100%;margin-bottom: 1rem;}
        .select input#password{display: none;}
        .select input#private:checked~input#password {
            display: inline;
        }
    </style>
</head>
<body>
    <%- include("../common/top.ejs") %>
    <div id="wrap">
        <div >
                                                           
        </div>
        <form action="/chats/open" method="post">
            <div>
                <label>방이름</label> <input type="text" name="title">
            </div>
            <div class="select">
                <input id="public" type="radio" name="type" value="public" checked><label for="public">공개</label>
                <input id="private" type="radio" name="type" value="private"><label for="private">비공개</label>
                <input id="password" type="text" name="password" >
            </div>
            <div>
                <button class="exitBtn" onclick="location.href='/chats'">방목록</button>
                <button type="submit">개설</button>
            </div>
        </form>
    </div>
    <script>       
    </script>
</body>
</html>