.App {
  text-align: center;
}



.navbar{
  margin-bottom:2rem;
}



.item{
  margin-top:2rem;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
}
.itemCard{
  margin-top: 1rem;
  width: 100%;
}

.fixTd{width: 50px;text-align: center;}

.bi{
  cursor: pointer;
}
.bi-trash-fill{
  color:red
}

@media screen and (max-width:767px ) {
  table .mb{display: none;}
}