

<form action="/delete" method="post">
    <input type="hidden" name="target" value="<%=target %>"/>
    <label>비밀번호를 입력하세요</label>
    <input type="password" name="pass">
    <button type="submit">확인</button>
</form>