<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 결과</title>
    <style>
        body{background-color: rgb(143, 140, 139);}
        #wrap{width:100%;margin:auto;border-radius: 10px;background-color: antiquewhite;padding: 1rem 0;}
        div {
            margin: 10px;
            align-items: center;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        .posterImg img{width:400px;height:auto;}
        td {
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #D6EEEE;
        }
        a {
            text-decoration: none;
            color: rgb(32, 49, 202);
            font-weight: bolder;            
        }
    </style>
</head>

<body>
    <div id="wrap">
        <div>
            <h2>예약 처리 결과 / <%= movies[movie].name %></h2>
        </div>
        
            <div>
                <p class="posterImg">  
                    <img src = "<%=movies[movie].img %> "> 
                </p>
                <p>
                    선택하신 <%= movies[movie].name %> 무료 관람 신청이 접수되었습니다.
                </p>
                <p>
                    접수된 좌석 번호 : 
                    <%seat.forEach(val => {%>
                        [<%= val %>] 
                    <% });  %> 
                </p>
                <a href="list">처음으로 돌아가기</a>
            </div>
        </div>
    </div>
</body>
</html>