<!--
    a태그에 발생하는 요청은 GET방식임
-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{text-decoration: none;}
        p{font-size: 1.5rem;}
        p input{font-size: 1.5rem;}
    </style>
</head>
<body>
    <div>
        <a href="/sample/a">Sample A</a> |
        <a href="/sample/b">Sample B</a> |
        <a href="/study?subject=javascript">Javascript</a> |
        <a href="/study?subject=HTML">
            <img src="https://picsum.photos/200/100/?random">
        </a>
    </div>
</body>
</html>



